<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
        body {
            opacity: 0;
        }
    </style>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div id="root"></div>
        </div>
        <div class="col-md-3">
            <div id="controls" class="py-3">

                <div class="card mb-3">
                    <div class="card-header">
                        Choose pattern
                    </div>
                    <div class="card-body">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Patterns
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">


                                <a href="#" class="dropdown-item" data-pattern="

....**......**....
...*.*......*.*...
...*..........*...
**.*..........*.**
**.*.*..**..*.*.**
...*.*.*..*.*.*...
...*.*.*..*.*.*...
**.*.*..**..*.*.**
**.*..........*.**
...*..........*...
...*.*......*.*...
....**......**....
"><div class="sprites pic1"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
....**....
...*..*...
...****...
.*.*..*.*.
*........*
*........*
.*.*..*.*.
...****...
...*..*...
....**....
"><div class="sprites pic2"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.*.....
...*...
**..***
"><div class="sprites pic3"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**..
*..*
..**
"><div class="sprites pic4"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.......*......
......*.*.....
.......*......
..............
.....*****....
....*.....*.**
...*.**...*.**
...*.*..*.*...
**.*...**.*...
**.*.....*....
....*****.....
..............
......*.......
.....*.*......
......*.......
"><div class="sprites pic5"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**........**...**...**...**...**...**..
..**.**.....**...**...**...**...**...**
..**...**...**...**...**...**...**...**
**.....**.**...**...**...**...**...**..
.....**................................
"><div class="sprites pic6"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.....*.....
....*.*....
.....*.....
...........
...*****...
..*..*..*..
.*.**.**.*.
.*.*...*.*.
**.*...*.**
*..*.*.*..*
..*.....*..
...*****...
.....*.....
"><div class="sprites pic7"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.*..
***.
*.**
"><div class="sprites pic8"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.................*...........
**...............**........**
**................**.......**
.................**..........
.............................
.............................
.............................
.................**..........
..................**.........
.................**..........
.................*...........
"><div class="sprites pic9"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
....**....
...*..*...
...*.*....
.**.*...*.
*..*...*.*
*.*...*..*
.*...*.**.
....*.*...
...*..*...
....**....
"><div class="sprites pic10"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.....**
......*
...*.*.
.......
.*.*...
*......
**.....
"><div class="sprites pic11"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.*..
*.*.
.*.*
..*.
"><div class="sprites pic12"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**..
*...
...*
..**
"><div class="sprites pic13"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.**.
*..*
.**.
"><div class="sprites pic14"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**..**
*....*
.****.
......
...**.
..*..*
...**.
"><div class="sprites pic15"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.*...
*.*..
*.*..
.*...
..***
....*
"><div class="sprites pic16"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.*.....
*.*....
*..*...
.**.*..
...*.*.
...*..*
....**.
"><div class="sprites pic17"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**.**
**.**
"><div class="sprites pic18"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
....**.
...*..*
...*.**
**.*...
*..*...
.**....
"><div class="sprites pic19"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**...
*.*..
.....
..*.*
...**
"><div class="sprites pic20"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
...
***
...
"><div class="sprites pic21"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
...........*..*...............
..........*...................
..........*...*...............
..**......****................
.****.........................
**.**.........................
.**.....**.***................
.......*.....**.......*....***
......**.......*......*....*.*
.......*.....**.......*....***
.**.....**.***................
**.**.........................
.****.........................
..**......****................
..........*...*...............
..........*...................
...........*..*...............
"><div class="sprites pic22"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**
**
"><div class="sprites pic23"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**..**
*....*
.****.
......
...**.
...**.
"><div class="sprites pic24"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**...
.*...
.*.**
**.**
"><div class="sprites pic25"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.......*.*
......*...
**..*....*
**.*..*.**
.....**...
"><div class="sprites pic26"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.*.
*.*
.**
"><div class="sprites pic27"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.*....
*.*...
.**...
...**.
...*.*
....*.
"><div class="sprites pic28"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**...**
*.*.*.*
..*.*..
.**.**.
"><div class="sprites pic29"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.....*.....
....*.*....
....*.*....
...**.**...
..*.....*..
.*.*.*.*.*.
.*.*...*.*.
**.*...*.**
*..*.*.*..*
..*.....*..
...**.**...
....*.*....
....*.*....
.....*.....
"><div class="sprites pic30"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="

.**........
*..*.....**
***...***..
*..*.****..
.***...*...
.*..***....
...*....**.
...*****.*.
...........
...*****.*.
...*....**.
.*..***....
.***...*...
*..*.****..
***...***..
*..*.....**
.**........
"><div class="sprites pic31"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
*.....*.
..*...*.
..*..*.*
.*.*....
"><div class="sprites pic32"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.....*.....
....*.*....
...*.*.*...
...*.*.*...
**.*.*.*.**
**.*....*.*
....****...
...........
....**.....
....**.....
"><div class="sprites pic33"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.....*..
****...*
...*...*
.......*
....*...
.....**.
"><div class="sprites pic34"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**................................................**
.*................................................*.
.*.*.....................**.....................*.*.
..**........*............**............**.......**..
...........**..........................*.*..........
..........**.............................*..........
...........**..**......................***..........
....................................................
....................................................
....................................................
...........**..**......................***..........
..........**.............................*..........
...........**..........................*.*..........
..**........*............**............**.......**..
.*.*.....................**.....................*.*.
.*................................................*.
**................................................**
"><div class="sprites pic35"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.......*.......
.......***.....
..........*....
.....***..*..**
....*.*.*.*.*.*
....*...*.*.*..
.**.*.*.*.*.**.
..*.*.*...*....
*.*.*.*.*.*....
**..*..***.....
....*..........
.....***.......
.......*.......
"><div class="sprites pic36"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.**.
*..*
***.
....
***.
*..*
.**.
"><div class="sprites pic37"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
....*
..***
.*...
*.*..
.**..
"><div class="sprites pic38"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
..*.
**..
..**
.*..
"><div class="sprites pic39"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
...*.*...
.***.***.
*...*...*
*.*.*.*.*
.*******.
.........
.*******.
*.*.*.*.*
*...*...*
.***.***.
...*.*...
"><div class="sprites pic40"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
*..........
***........
...*.......
..*........
..*..*.....
.....*.....
...*.*.....
...**..**..
.......*.*.
.........*.
.........**
"><div class="sprites pic41"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
..****..
..*..*..
***..***
*......*
*......*
***..***
..*..*..
..****..
"><div class="sprites pic42"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
........*.
.......*.*
......**..
.........*
.....*...*
..*..*....
.*.*..****
*..*......
.*.*..****
..*..*....
.....*...*
.........*
......**..
.......*.*
........*.
"><div class="sprites pic43"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**...**
*.*.*.*
..*.*..
*.*.*.*
**...**
"><div class="sprites pic44"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
......*......
.....*.*.....
....*.*.*....
....*...*....
..**..*..**..
.*....*....*.
*.*.**.**.*.*
.*....*....*.
..**..*..**..
....*...*....
....*.*.*....
.....*.*.....
......*......
"><div class="sprites pic45"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**.....**
*.......*
.***.***.
...*.*...
....*....
"><div class="sprites pic46"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**..
*.*.
..*.
..**
"><div class="sprites pic47"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
....**
.....*
..***.
..*...
*.*...
**....
"><div class="sprites pic48"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
***...
***...
***...
...***
...***
...***
"><div class="sprites pic49"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
....**....
....*.*...
.....**...
.......**.
**.....*.*
*.*.....**
.**.......
...**.....
...*.*....
....**....
"><div class="sprites pic50"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
....**.
**..*.*
*.....*
.*****.
...*...
"><div class="sprites pic51"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
...**...
.*....*.
.*....*.
.*....*.
..*..*..
*.*..*.*
**....**
"><div class="sprites pic52"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
..*
*.*
.**
"><div class="sprites pic53"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.........................*..........
......................****....*.....
.............*.......****.....*.....
............*.*......*..*.........**
...........*...**....****.........**
**.........*...**.....****..........
**.........*...**........*..........
............*.*.....................
.............*......................
"><div class="sprites pic54"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
..........**........
..........*.........
..*.**.**.*.....**..
..**.*.*.*......*...
........*........*..
................**..
....................
...........*....**..
*.........*.*..*.*..
***......**.**..*...
...*.............***
..*.*..............*
..**................
....................
..**................
..*........*........
...*......*.*.*.**..
..**.....*.**.**.*..
.........*..........
........**..........
"><div class="sprites pic55"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
....*....
...*.*...
....*....
.........
..*****..
.*.....*.
*.*...*.*
.*.....*.
..*****..
.........
....*....
...*.*...
....*....
"><div class="sprites pic56"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
..**....
.*..*...
.*.**...
**.*.**.
....**.*
.......*
....***.
....*...
"><div class="sprites pic57"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
..*..
.*.*.
.*.*.
**.**
"><div class="sprites pic58"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.......**.......
..**.*....*.**..
..*..........*..
...**......**...
***..******..***
*..*........*..*
.**..........**.
"><div class="sprites pic59"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.******
*.....*
......*
*....*.
..**...
"><div class="sprites pic60"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.........*..........................
........*.*.........................
......***.*.........................
.....*....**.*......................
.....*.**...**......**..............
....**.*.**.........*.*.............
.........*.*****......*..*.**.......
..*.**.**.*.....*....**.*.**.*......
.....**.....****........*....*......
*...*.*..*...*.*....**.*.****.**....
*...*.*..**.*.**.**....*.*....*.*...
.....**...***.**.*.***.*..***...*...
..*.**.**.**.............*.*..*.*.**
...........*......*.*.*.*..**.*.*.*.
....**.*.*.**......**.*.*.*...*.*.*.
.....*.**.*..*.......*.**..****.**..
.....*....*.*........*...**.........
....**....**........**...*..*.......
...........................**.......
"><div class="sprites pic61"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
...**.*....
...*.**....
...........
....***....
...*.*.*.**
...*...*.**
**.*...*...
**.*...*...
....***....
...........
....**.*...
....*.**...
"><div class="sprites pic62"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
***.
...*
...*
...*
"><div class="sprites pic63"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
......*......
.....*.*.....
.....*.*.....
......*......
.............
.**.......**.
*..*.....*..*
.**.......**.
.............
......*......
.....*.*.....
.....*.*.....
......*......
"><div class="sprites pic64"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.....**....
.....**....
...........
...****....
*.*....*...
**.*...*...
...*...*.**
...*....*.*
....****...
...........
....**.....
....**.....
"><div class="sprites pic65"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.**....
.*..*..
..***..
.......
*******
*..*..*
"><div class="sprites pic66"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
...**
..*.*
..*..
*.*..
**...
"><div class="sprites pic67"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
....**.
...*..*
.*..*.*
*....*.
*......
..***..
"><div class="sprites pic68"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.*........*.
*.***..***.*
.*..*..*..*.
....*..*....
"><div class="sprites pic69"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
....*.*
***..**
..*..*.
.*.....
"><div class="sprites pic70"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
******.**
******.**
.......**
**.....**
**.....**
**.....**
**.......
**.******
**.******
"><div class="sprites pic71"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.**.*..
.*.**..
.......
..***..
.*...*.
.*...*.
..*.*..
*.*.*.*
**...**
"><div class="sprites pic72"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
...*..*..*..*..*..*..*..*..*..*..*..*..*..*..*..*..*..*..*..*...
...**********************************************************...
................................................................
.**************************************************************.
*.................................*.......*..........*.........*
****.**.*..*****..***************....*****....*******...********
....*...**.....**.......*.......*........*............*.........
******..*..*****..*****....******....*****....*******...********
*......................*.........*........*..........*.........*
.**************************************************************.
................................................................
...**********************************************************...
...*..*..*..*..*..*..*..*..*..*..*..*..*..*..*..*..*..*..*..*...
"><div class="sprites pic73"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
..**.*..*.**..
..*........*..
...**....**...
***..****..***
*..*......*..*
.**........**.
"><div class="sprites pic74"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.****
*...*
....*
*..*.
"><div class="sprites pic75"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.*..
*.*.
*..*
.**.
"><div class="sprites pic76"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.*...
*.*..
.*.*.
..*.*
...*.
"><div class="sprites pic77"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.*..
*.*.
.*.*
..**
"><div class="sprites pic78"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**..
*.*.
.*.*
..**
"><div class="sprites pic79"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
*...
***.
...*
**.*
*.*.
"><div class="sprites pic80"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**.....................
**.....................
.......................
.......................
.**.................**.
.**.................**.
.......................
.......................
.....................**
.....................**
"><div class="sprites pic81"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.**..
*..*.
.*..*
..**.
"><div class="sprites pic82"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
...**..
.*.*...
*.....*
.*...**
.......
...*.*.
....*..
"><div class="sprites pic83"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.......*.......
..**.*...*.**..
..*.........*..
...**.....**...
***..*****..***
*..*.......*..*
.**.........**.
"><div class="sprites pic84"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.*****
*....*
.....*
*...*.
..*...
"><div class="sprites pic85"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
...*******...
.***.***.***.
*....***....*
.****.*.***.*
...........*.
*.**.*.*.*...
**.*.*.*.**..
....*..*.*...
.....**..*...
.........**..
"><div class="sprites pic86"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
....**...
...*.*...
...*.....
**.*.....
**.*..*..
....**.*.
.......*.
.......**
"><div class="sprites pic87"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.**...
*..*..
*.*..*
.*....
..**.*
....*.
"><div class="sprites pic88"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**...**
.*.*.*.
.**.**.
.*.*.*.
**...**
"><div class="sprites pic89"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
......**....
......**....
............
....****..**
**.*..*.*..*
.*.*...**.*.
*..*....*.**
**..****....
............
....**......
....**......
"><div class="sprites pic90"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
...**...
..*..*..
.*....*.
*......*
*......*
.*....*.
..*..*..
...**...
"><div class="sprites pic91"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
...**.........
...*.*........
...*..........
**.*..........
*....*........
*.**......***.
.....***....**
......***.*.*.
.............*
......*.*.....
.....**.*.....
......*.......
....**.*......
.......*......
.....**.......
"><div class="sprites pic92"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
..**.
.*..*
.*.**
**.*.
*..*.
.**..
"><div class="sprites pic93"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.....*.....
....*.*....
.*..**.....
.***.......
.....***...
...**...*..
..*....*..*
.*.*.*.*.**
.*.*...*.*.
**.*.*.*.*.
*..*....*..
..*...**...
...***.....
.......***.
.....**..*.
....*.*....
.....*.....
"><div class="sprites pic94"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
...**.....**...
...*.......*...
**.*.......*.**
**.*.*****.*.**
....*..*..*....
.....*****.....
...............
.......*.......
......*.*......
.......*.......
"><div class="sprites pic95"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
..*....*..
**.****.**
..*....*..
"><div class="sprites pic96"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
...*....
...*.*..
.*......
......**
**......
......*.
..*.*...
....*...
"><div class="sprites pic97"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
***
*.*
*.*
"><div class="sprites pic98"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.**.
*..*
*..*
.**.
"><div class="sprites pic99"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.**....
*..*...
*..*...
.**.**.
...*..*
...*..*
....**.
"><div class="sprites pic100"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.....*.....
....*.*....
....*.*....
...**.**...
*.*.....*.*
**.*.*.*.**
...*...*...
...*...*...
....***....
...........
...*.**....
...**.*....
"><div class="sprites pic101"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
..........**
...........*
.........*..
.......*.*..
............
.....*.*....
............
...*.*......
............
..**........
*...........
**..........
"><div class="sprites pic102"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
..***...***..
.............
*....*.*....*
*....*.*....*
*....*.*....*
..***...***..
.............
..***...***..
*....*.*....*
*....*.*....*
*....*.*....*
.............
..***...***..
"><div class="sprites pic103"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
..***.*.....
.****.*.....
**..........
.*.*........
..****.*....
...***......
............
............
......*****.
......*....*
......*.....
.......*...*
.........*..
"><div class="sprites pic104"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.......*........
.....*****......
....*.....*.....
.*..*..***.*....
*.*.*.*....*..*.
.*..*....*.*.*.*
....*.***..*..*.
.....*.....*....
......*****.....
........*.......
"><div class="sprites pic105"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**..**
*..*.*
.*....
....*.
*.*..*
**..**
"><div class="sprites pic106"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**.....
*.*....
.......
..*.*..
.......
....*.*
.....**
"><div class="sprites pic107"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
*....
****.
.****
.*..*
.****
****.
*....
"><div class="sprites pic108"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
..........*...........
..........****........
**.........****.....**
**.........*..*.....**
...........****.......
..........****........
..........*...........
"><div class="sprites pic109"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.**
**.
.*.
"><div class="sprites pic110"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
...**...
...**...
........
.******.
*......*
***...**
........
********
*......*
...**...
...**...
"><div class="sprites pic111"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
*...***
***..*.
.*.....
"><div class="sprites pic112"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
...**...
...**...
........
........
.**..**.
*.*..*.*
..*..*..
"><div class="sprites pic113"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**....**
.*....*.
.*.**.*.
..*..*..
...*....
.....*..
.**.....
.....**.
..*.....
....*...
..*..*..
.*.**.*.
.*....*.
**....**
"><div class="sprites pic114"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.*............
.***........**
....*.......*.
...**.....*.*.
..........**..
..............
.....***......
.....*..*.....
.....*........
..**..*...*...
.*.*......*...
.*.......*....
**........***.
............*.
"><div class="sprites pic115"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.....****
....*...*
........*
**..*..*.
***......
**..*..*.
........*
....*...*
.....****
"><div class="sprites pic116"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
...*...
.***...
*...**.
*.*.*.*
.**.*.*
.....*.
"><div class="sprites pic117"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
....*......
..***......
.*.........
.*..***....
**.*...*...
...*...*...
...*...*.**
....***..*.
.........*.
......***..
......*....
"><div class="sprites pic118"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**...
*..**
.**.*
"><div class="sprites pic119"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**.
*.*
.**
"><div class="sprites pic120"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**....
*.*...
.**...
...**.
...*.*
....*.
"><div class="sprites pic121"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**....
*.*...
.**...
...**.
...*.*
....**
"><div class="sprites pic122"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
...........**...
...**.....*.*...
...*.*....*.....
.....*...**.*...
...*.**.....***.
.***.....*.*...*
*...*.*.....***.
.***.....**.*...
...*.**...*.....
.....*....*.*...
...*.*.....**...
...**...........
"><div class="sprites pic123"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
...**
....*
...*.
*.*..
**...
"><div class="sprites pic124"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.**....
.*...**
..*.*.*
.......
*.*.*..
**...*.
....**.
"><div class="sprites pic125"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**.*.**
...*...
*.....*
.*****.
.......
.......
***.***
"><div class="sprites pic126"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**................**
.*................*.
.*.*............*.*.
..**............**..
.......*....*.......
.....**.****.**.....
.......*....*.......
..**............**..
.*.*............*.*.
.*................*.
**................**
"><div class="sprites pic127"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
*.**
**.*
"><div class="sprites pic128"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
*.**.**
**.*.*.
......*
***.***
*......
.*.*.**
**.**.*
"><div class="sprites pic129"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
...**........**...
...*.*......*.*...
.....*......*.....
...*.**....**.*...
.***..........***.
*...*.*....*.*...*
.***..........***.
...*.**....**.*...
.....*......*.....
...*.*......*.*...
...**........**...
"><div class="sprites pic130"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**....**
*.*..*.*
..*..*..
*.*..*.*
**....**
"><div class="sprites pic131"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
..........*....................
..........*...............**...
......**.*.***..........**...*.
*.**.**.**..*.*...**.****......
*...**..*.**..***..*.**..**...*
*.**....***.*.***......**..*...
........**.*...............*..*
*.**....***.*.***......**..*...
*...**..*.**..***..*.**..**...*
*.**.**.**..*.*...**.****......
......**.*.***..........**...*.
..........*...............**...
..........*....................
"><div class="sprites pic132"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**....*
.*..***
.*.*...
..*.*..
...*.*.
***..*.
*....**
"><div class="sprites pic133"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.....*.....
....***....
..***.***..
..*.....*..
.**.....**.
**.......**
.**.....**.
..*.....*..
..***.***..
....***....
.....*.....
"><div class="sprites pic134"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.*.*..
*.....
.*..*.
...***
"><div class="sprites pic135"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
*..*
****
....
****
*..*
"><div class="sprites pic136"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.....*.....
....*.*....
....**.....
..**.......
.*...***...
*..**...*.*
.**....*.**
...*.*.*...
...*...*...
....***....
......*.*..
.......**..
"><div class="sprites pic137"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**....**
*.*..*.*
..*..*..
..*..*..
...**...
"><div class="sprites pic138"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.***
***.
"><div class="sprites pic139"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
...*....*..
.**.****.**
...*....*..
...........
...........
...........
...........
...........
.....***...
....***....
...........
...........
...........
...........
...........
..*....*...
**.****.**.
..*....*...
"><div class="sprites pic140"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
...**..**...
.***.**.***.
*..........*
.****..****.
....*..*....
.**......**.
.*..*..*..*.
..***..***..
............
****.**.****
*..**..**..*
"><div class="sprites pic141"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.....................**....**...................
.....................*.*..*.*...................
.......................*..*.....................
......................*....*....................
......................*....*....................
......................*....*....................
........................**.....**...............
...............................***..............
...............................**.*.............
.................................*.*............
.........................***....*..*............
.................................**.............
.........**............*.....*..................
........*..*...........*.....*..................
......*..*.*...........*.....*..................
..........*.....................................
......*.**...............***....................
.......*.....*..................................
.............*..................................
**...........*..................................
*..***..........................................
.**......***...***............................**
......*...................................***..*
......*......*...............................**.
.**..........*........*..................*......
*..***.......*......**.**............*...*......
**....................*............**.**.....**.
.....................................*....***..*
..............................................**
................................................
......................................*.*.......
....................***..................*......
.....................................*..*.......
..................*.....*...........*.*.*.......
..................*.....*...........*..*........
..................*.....*............**.........
.............**.................................
............*..*....***.........................
............*.*.*...............................
.............*.***..............................
...............***..............................
......................**........................
....................*....*......................
....................*....*......................
....................*....*......................
.....................*..*.......................
...................*.*..*.*.....................
...................**....**.....................
"><div class="sprites pic142"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
....*....
....*....
....*....
.........
***...***
.........
....*....
....*....
....*....
"><div class="sprites pic143"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
...**
..*.*
.*.*.
.*...
**...
"><div class="sprites pic144"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**.....
**..*..
..**.*.
..*..*
.*...**
..***..
....*..
"><div class="sprites pic145"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**....
*.*...
......
..*.*.
.....*
....**
"><div class="sprites pic146"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.*.
*.*
.*.
"><div class="sprites pic147"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.*...
*.*..
.*.*.
...*.
...**
"><div class="sprites pic148"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
....*.*......
....**.*.....
.......***...
....**....*..
**.*..**..*..
.*.*....*.**.
*...*...*...*
.**.*....*.*.
..*..**..*.**
..*....**....
...***.......
.....*.**....
......*.*....
"><div class="sprites pic149"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.**.**.
.**.**.
..*.*..
*.*.*.*
*.*.*.*
**...**
"><div class="sprites pic150"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.***.......*..
.**..*.**.**..
...***....*...
.*..*.*...*...
*....*....*..*
*....*....*..*
.*..*.*...*...
...***....*...
.**..*.**.**..
.***.......*..
"><div class="sprites pic151"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
..*...*..
.*.*.*.*.
.*.*.*.*.
**.*.*.**
....*....
"><div class="sprites pic152"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**.......
.*.......
.*.*.....
..**.....
.....**..
.....*.*.
.......*.
.......**
"><div class="sprites pic153"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.**.....
.**.....
........
.*......
*.*.....
*..*..**
....*.**
..**....
"><div class="sprites pic154"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.*....
*.*...
.*.*..
..*.*.
...*.*
....*.
"><div class="sprites pic155"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
.*...
*.*..
.*.*.
..*.*
...**
"><div class="sprites pic156"></div></a>


                                <a href="#" class="dropdown-item" data-pattern="
**...
*.*..
.*.*.
..*.*
...**
"><div class="sprites pic157"></div></a>

                            </div>
                        </div>
                        <img id="patternImg" src="" alt="">
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        Set random cells
                    </div>
                    <div class="card-body">
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="inputPassword2" class="sr-only">Cells number</label>
                                <input type="number" id="randomCellsNumber" class="form-control" value="4000">
                            </div>
                            <button type="submit" id="setRandomCells" class="btn btn-primary">
                                Add
                            </button>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        Edit Cells
                    </div>
                    <div class="card-body">
                        <button type="submit" id="addCells" class="btn btn-primary">
                            Add cells
                        </button>
                        <button type="submit" id="removeCells" class="btn btn-secondary">
                            Remove cells
                        </button>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        Change Speed
                    </div>
                    <div class="card-body">
                        <input type="number" value="1" id="speedChange">ms
                    </div>
                </div>

                <div class="text-center mt-5">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" id="start" class="btn btn-success">Start</button>
                        <button type="button" id="pause" class="btn btn-warning">Pause</button>
                        <button type="button" id="stop" class="btn btn-danger">Stop</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
