#root {
  //float: left;
	//width: 75vw;
  .field {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    width: 100%;
    height: 100vh;
    .field-row {
      display: flex;
      width: 100%;
      align-content: stretch;
      .field-cell {
        width: 100%;
        //border: 1px solid #cccccc;
      }
    }
  }
}

.dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
}

.alive {
	background: black;
}

body {
    opacity: 1;
    &.editModeAdd {
        cursor: copy;
        .field-cell:hover {
            background: #007bff;
        }
    }
    &.editModeRemove {
        cursor: alias;
        .field-cell:hover {
            background: #dc3545;
        }
    }
    &.patternMode {
        cursor: crosshair;
        .field-cell:hover {
            background: #ffc107;
        }
    }
}

.sprites { background: url(../../src/img/sprites.png) no-repeat; }
.pic1 { width: 56px; height: 44px; background-position: -312px -264px; }
.pic2 { width: 40px; height: 40px; background-position: -154px -94px; }
.pic3 { width: 34px; height: 26px; background-position: -233px -158px; }
.pic4 { width: 28px; height: 26px; background-position: 0 -117px; }
.pic5 { width: 48px; height: 50px; background-position: -195px -55px; }
.pic6 { width: 98px; height: 30px; background-position: -268px -174px; }
.pic7 { width: 42px; height: 46px; background-position: -326px -458px; }
.pic8 { width: 28px; height: 26px; background-position: -147px -302px; }
.pic9 { width: 78px; height: 42px; background-position: -197px -633px; }
.pic10 { width: 40px; height: 40px; background-position: -148px -261px; }
.pic11 { width: 34px; height: 34px; background-position: -76px 0; }
.pic12 { width: 28px; height: 28px; background-position: -107px -37px; }
.pic13 { width: 28px; height: 28px; background-position: -111px -66px; }
.pic14 { width: 28px; height: 26px; background-position: -331px -688px; }
.pic15 { width: 32px; height: 34px; background-position: -296px -600px; }
.pic16 { width: 30px; height: 32px; background-position: -113px -491px; }
.pic17 { width: 34px; height: 34px; background-position: -81px -155px; }
.pic18 { width: 30px; height: 24px; background-position: -111px -435px; }
.pic19 { width: 34px; height: 32px; background-position: -76px -68px; }
.pic20 { width: 30px; height: 30px; background-position: -234px -127px; }
.pic21 { width: 26px; height: 22px; background-position: -312px -309px; }
.pic22 { width: 80px; height: 54px; background-position: 0 -144px; }
.pic23 { width: 24px; height: 24px; background-position: -244px -102px; }
.pic24 { width: 32px; height: 32px; background-position: -43px 0; }
.pic25 { width: 30px; height: 28px; background-position: -117px -260px; }
.pic26 { width: 40px; height: 30px; background-position: -211px -347px; }
.pic27 { width: 26px; height: 26px; background-position: -304px -102px; }
.pic28 { width: 32px; height: 32px; background-position: -74px -35px; }
.pic29 { width: 34px; height: 28px; background-position: 0 -611px; }
.pic30 { width: 42px; height: 48px; background-position: -326px -505px; }
.pic31 { width: 42px; height: 54px; background-position: -206px -378px; }
.pic32 { width: 36px; height: 28px; background-position: -117px -120px; }
.pic33 { width: 42px; height: 40px; background-position: -268px -133px; }
.pic34 { width: 36px; height: 32px; background-position: -76px -511px; }
.pic35 { width: 124px; height: 54px; background-position: -195px 0; }
.pic36 { width: 50px; height: 46px; background-position: -140px -47px; }
.pic37 { width: 28px; height: 34px; background-position: 0 -242px; }
.pic38 { width: 30px; height: 30px; background-position: -117px -229px; }
.pic39 { width: 28px; height: 28px; background-position: 0 -88px; }
.pic40 { width: 38px; height: 42px; background-position: -74px -468px; }
.pic41 { width: 42px; height: 42px; background-position: 0 -45px; }
.pic42 { width: 36px; height: 36px; background-position: -111px 0; }
.pic43 { width: 40px; height: 50px; background-position: -327px -45px; }
.pic44 { width: 34px; height: 30px; background-position: -269px -102px; }
.pic45 { width: 46px; height: 46px; background-position: -148px 0; }
.pic46 { width: 38px; height: 30px; background-position: -195px -106px; }
.pic47 { width: 28px; height: 28px; background-position: -283px -311px; }
.pic48 { width: 32px; height: 32px; background-position: -43px -68px; }
.pic49 { width: 32px; height: 32px; background-position: -161px -135px; }
.pic50 { width: 40px; height: 40px; background-position: -211px -306px; }
.pic51 { width: 34px; height: 30px; background-position: -154px -201px; }
.pic52 { width: 36px; height: 34px; background-position: -80px -254px; }
.pic53 { width: 26px; height: 26px; background-position: -86px -128px; }
.pic54 { width: 92px; height: 38px; background-position: -238px -676px; }
.pic55 { width: 60px; height: 60px; background-position: -43px -545px; }
.pic56 { width: 38px; height: 46px; background-position: -273px -264px; }
.pic57 { width: 36px; height: 36px; background-position: -117px -192px; }
.pic58 { width: 30px; height: 28px; background-position: -49px -304px; }
.pic59 { width: 52px; height: 34px; background-position: -155px -565px; }
.pic60 { width: 34px; height: 30px; background-position: -82px -223px; }
.pic61 { width: 92px; height: 58px; background-position: -275px -205px; }
.pic62 { width: 42px; height: 44px; background-position: 0 0; }
.pic63 { width: 28px; height: 28px; background-position: 0 -328px; }
.pic64 { width: 46px; height: 46px; background-position: -252px -342px; }
.pic65 { width: 42px; height: 44px; background-position: -326px -554px; }
.pic66 { width: 34px; height: 32px; background-position: -331px -96px; }
.pic67 { width: 30px; height: 30px; background-position: -252px -311px; }
.pic68 { width: 34px; height: 32px; background-position: -176px -306px; }
.pic69 { width: 44px; height: 28px; background-position: -148px -232px; }
.pic70 { width: 34px; height: 28px; background-position: -162px -649px; }
.pic71 { width: 38px; height: 38px; background-position: -194px -137px; }
.pic72 { width: 34px; height: 38px; background-position: 0 -675px; }
.pic73 { width: 148px; height: 46px; background-position: -144px -436px; }
.pic74 { width: 48px; height: 32px; background-position: -35px -682px; }
.pic75 { width: 30px; height: 28px; background-position: -43px -454px; }
.pic76 { width: 28px; height: 28px; background-position: -339px -336px; }
.pic77 { width: 30px; height: 30px; background-position: -299px -359px; }
.pic78 { width: 28px; height: 28px; background-position: 0 -357px; }
.pic79 { width: 28px; height: 28px; background-position: -329px -626px; }
.pic80 { width: 28px; height: 30px; background-position: -113px -373px; }
.pic81 { width: 66px; height: 40px; background-position: -80px -289px; }
.pic82 { width: 30px; height: 28px; background-position: -43px -483px; }
.pic83 { width: 34px; height: 34px; background-position: -193px -209px; }
.pic84 { width: 50px; height: 34px; background-position: -29px -242px; }
.pic85 { width: 32px; height: 30px; background-position: -293px -452px; }
.pic86 { width: 46px; height: 40px; background-position: -228px -216px; }
.pic87 { width: 38px; height: 36px; background-position: -35px -380px; }
.pic88 { width: 32px; height: 32px; background-position: -161px -168px; }
.pic89 { width: 34px; height: 30px; background-position: -127px -684px; }
.pic90 { width: 44px; height: 42px; background-position: -116px -149px; }
.pic91 { width: 36px; height: 36px; background-position: -35px -417px; }
.pic92 { width: 48px; height: 50px; background-position: 0 -277px; }
.pic93 { width: 30px; height: 32px; background-position: -230px -600px; }
.pic94 { width: 42px; height: 54px; background-position: 0 -456px; }
.pic95 { width: 50px; height: 40px; background-position: -104px -565px; }
.pic96 { width: 40px; height: 26px; background-position: -74px -404px; }
.pic97 { width: 36px; height: 36px; background-position: -74px -431px; }
.pic98 { width: 26px; height: 26px; background-position: -193px -244px; }
.pic99 { width: 28px; height: 28px; background-position: -80px -641px; }
.pic100 { width: 34px; height: 34px; background-position: -189px -271px; }
.pic101 { width: 42px; height: 44px; background-position: -37px -637px; }
.pic102 { width: 44px; height: 44px; background-position: -320px 0; }
.pic103 { width: 46px; height: 46px; background-position: -249px -389px; }
.pic104 { width: 44px; height: 46px; background-position: -29px -333px; }
.pic105 { width: 52px; height: 40px; background-position: -276px -635px; }
.pic106 { width: 32px; height: 32px; background-position: -194px -176px; }
.pic107 { width: 34px; height: 34px; background-position: -80px -330px; }
.pic108 { width: 30px; height: 34px; background-position: -43px -33px; }
.pic109 { width: 64px; height: 34px; background-position: -144px -483px; }
.pic110 { width: 26px; height: 26px; background-position: -49px -277px; }
.pic111 { width: 36px; height: 42px; background-position: -45px -199px; }
.pic112 { width: 34px; height: 26px; background-position: -329px -599px; }
.pic113 { width: 36px; height: 34px; background-position: 0 -640px; }
.pic114 { width: 36px; height: 48px; background-position: -160px -600px; }
.pic115 { width: 48px; height: 48px; background-position: -224px -257px; }
.pic116 { width: 38px; height: 38px; background-position: -74px -365px; }
.pic117 { width: 34px; height: 32px; background-position: -261px -600px; }
.pic118 { width: 42px; height: 42px; background-position: 0 -511px; }
.pic119 { width: 30px; height: 26px; background-position: -86px -101px; }
.pic120 { width: 26px; height: 26px; background-position: -339px -309px; }
.pic121 { width: 32px; height: 32px; background-position: -82px -190px; }
.pic122 { width: 32px; height: 32px; background-position: -296px -419px; }
.pic123 { width: 52px; height: 44px; background-position: -311px -129px; }
.pic124 { width: 30px; height: 30px; background-position: -142px -373px; }
.pic125 { width: 34px; height: 34px; background-position: -176px -339px; }
.pic126 { width: 34px; height: 34px; background-position: 0 -386px; }
.pic127 { width: 60px; height: 42px; background-position: -115px -330px; }
.pic128 { width: 28px; height: 24px; background-position: -117px -95px; }
.pic129 { width: 34px; height: 34px; background-position: 0 -421px; }
.pic130 { width: 56px; height: 42px; background-position: -29px -101px; }
.pic131 { width: 36px; height: 30px; background-position: -228px -185px; }
.pic132 { width: 82px; height: 46px; background-position: -244px -55px; }
.pic133 { width: 34px; height: 34px; background-position: -82px -606px; }
.pic134 { width: 42px; height: 42px; background-position: -117px -606px; }
.pic135 { width: 32px; height: 28px; background-position: -296px -390px; }
.pic136 { width: 28px; height: 30px; background-position: -115px -404px; }
.pic137 { width: 42px; height: 44px; background-position: -84px -670px; }
.pic138 { width: 36px; height: 30px; background-position: -329px -390px; }
.pic139 { width: 28px; height: 24px; background-position: -330px -365px; }
.pic140 { width: 42px; height: 56px; background-position: 0 -554px; }
.pic141 { width: 44px; height: 42px; background-position: 0 -199px; }
.pic142 { width: 116px; height: 116px; background-position: -209px -483px; }
.pic143 { width: 38px; height: 38px; background-position: -199px -676px; }
.pic144 { width: 30px; height: 30px; background-position: -175px -374px; }
.pic145 { width: 34px; height: 34px; background-position: -127px -649px; }
.pic146 { width: 32px; height: 32px; background-position: -43px -512px; }
.pic147 { width: 26px; height: 26px; background-position: -312px -332px; }
.pic148 { width: 30px; height: 30px; background-position: -144px -404px; }
.pic149 { width: 46px; height: 46px; background-position: -162px -518px; }
.pic150 { width: 34px; height: 32px; background-position: -331px -655px; }
.pic151 { width: 48px; height: 40px; background-position: -113px -524px; }
.pic152 { width: 38px; height: 30px; background-position: -43px -606px; }
.pic153 { width: 38px; height: 36px; background-position: -329px -421px; }
.pic154 { width: 36px; height: 36px; background-position: -162px -678px; }
.pic155 { width: 32px; height: 32px; background-position: -197px -600px; }
.pic156 { width: 30px; height: 30px; background-position: -175px -405px; }
.pic157 { width: 30px; height: 30px; background-position: -113px -460px; }



